{{define "subject"}}Welcome to Gophers Shop: Activate Your Account.{{end}}
{{define "plainBody"}}
Hi, {{.name}} {{.surname}}
We are Team Gophers. Welcome to shop!
To activate your account, please click the button below:
Or if activate button does
Thanks!
{{end}}
{{define "htmlBody"}}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p><strong>Hi, Hi, {{.name}} {{.surname}}<strong></p>
<p>I'm {{.myFullName}} from Team Gophers. Welcome to Shop!</p>
<p>To activate your account, please click the button below:</p>
<button></button>
<p>Thanks!</p>
</body>
</html>
{{end}}